html, body{height:100%; margin:0;padding:0}

.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}

.skulls {
  background: url(../skulls.jpg);
  display: inline-block;
  height: 175px;
  background-size: 500px 500px;
  width: 175px;
}

.zombie-name {
  display: inline-block;
  padding: 45px 0px 45px 0px;
}

.remove {
  display: inline-block;
  margin: 15px 0px;
  padding: 20px 20px 20px 20px;
  height: 20;
  width: 20;
  float: right;
  color: red;
}


.portrait-skulls {
  float: left;
  background: url(../skulls.jpg);
  display: inline-block;
  height: 100px;
  background-size: 300px 300px;
  width: 85px;
}

.portrait-skulls--1 {
  background-position: 197px 0px;
}
.portrait-skulls--2 {
  background-position: 111px 0px;
}
.portrait-skulls--3 {
  background-position: -16px -94px;
}
.portrait-skulls--4 {
  background-position: -102px -94px;
}
.portrait-skulls--5 {
  background-position: -189px -94px;
}
.portrait-skulls--6 {
  background-position: -16px -183px;
}
.portrait-skulls--7 {
  background-position: -102px -183px;
}
.portrait-skulls--8 {
  background-position: -189px -183px;
}
.portrait-skulls--0 {
  background-position: -16px 0px;
}

.centering {
  float:none;
  margin:0 auto;
}
ul {
  list-style-type: none !important;
}
